<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div id="popup">
    <div id="app"></div>
</div>
<!-- built files will be auto injected -->
</body>
</html>
