<template>
  <div class="wrapper">
    <div class="form">
      <input v-model="searchQuery" type="text" placeholder="Search for repositories" autofocus/>
    </div>

    <ul class="results">
      <li class="item" v-for="(result, index) in results" :key="index">
        <span class="name">{{ result.name }}</span>
        <a v-bind:href="result.links.html.href" target="_blank" v-bind:tabindex="index">
          <i class="fa fa-link"></i>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
import debounce from 'lodash/debounce';
import axios from 'axios';

export default {
  name: 'BitbucketSearch',
  props: {
    msg: String
  },
  data: () => ({
    searchQuery: "",
    results: []
  }),
  created() {
    this.debounceSearch = debounce(this.doSearch, 300);
  },
  methods: {
    doSearch() {
      axios
          .get("https://bitbucket.org/!api/2.0/repositories/sumediawebsites", {
            params: {
              page: 1,
              pagelen: 4,
              sort: '-updated_on',
              q: `(name ~ "${this.searchQuery}" OR description ~ "${this.searchQuery}")`
            }
          })
          .then(res => {
            // eslint-disable-next-line no-console
            console.log(res.data);
            this.results = res.data.values;
          })
          .catch(err => {
            // eslint-disable-next-line no-console
            console.log(err);
          });
    }
  },
  watch: {
    searchQuery() {
      if (!this.searchQuery) return;
      this.debounceSearch();
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.wrapper {
  margin-bottom: 3px;
}

.form {
  margin-bottom: 10px;
  margin-right: 20px;
}

input {
  padding: 10px;
  font-size: 15px;
  margin-right: 10px;
  outline: none;
  box-shadow: transparent 0px 0px 0px 2px;
  border-width: 1px;
  border-radius: 3px;
  width: 100%;
}

ul.results {
  display: block;
  float: left;
  list-style-type: none;
  margin-left: 0;
  margin-right: 20px;
  padding-inline-start: 0;
}

li.item {
  margin-top: 10px;
  float: left;
  height: 30px;
  width: 100%;
  background: #f3f3f3;
  display: block;
  padding: 15px 10px 0 10px;
  border-radius: 2px;
}

li.item .name {
  font-size: 12px;
  float: left;
}

li.item a {
  float: right;
  color: #545454;
}
</style>
