<template>
  <div class="popup">
    <img class="banner" alt="Bitbucket logo" src="/banner.svg">
    <BitbucketSearch msg="Welcome to Bitbucket!"/>
  </div>
</template>

<script>
import BitbucketSearch from './components/BitbucketSearch.vue'

export default {
  name: 'App',
  components: {
    BitbucketSearch,
  },
  created() {
    console.log('created app');
  },
}
</script>

<style>
.popup {
  width: 250px;
  margin: 20px 10px;
}
.popup img.banner {
  margin-bottom: 20px;
}
</style>
